<html>


<head>
    <!-- META -->
    <title>WormMine post-build testing</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Mada|Montserrat|Noto+Sans|Nunito+Sans|Oxygen|PT+Sans+Caption|Quicksand|Roboto+Mono|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css" media="all" />
</head>

<body>

    <section class="section">
        <div class="container">
            <h1 class="title">Check WormMine post-build
            </h1>
            <br>
            <br>
            <p class="subtitle">
                <a href="/testd">Development instance</a>
            </p>
            <br>
            <p class="subtitle">
                <a href="/testp">Production instance</a>
            </p>
        </div>
    </section>



</body>


</html>